<% @log.each do |logs| -%> <%= logs %>
<% end -%>
{
<% @options.each do |opt| -%> <%= opt %>
<% end -%>
<% if @prerotate != 'undef' -%>
 prerotate
  <%= @prerotate %>
endscript
<% end -%>
<% if @postrotate != 'undef' -%>
 postrotate
  <% @postrotate.each do |post| -%> <%= post %>
  <% end -%>
endscript
<% end -%>
<% if @firstaction != 'undef' -%>
 firstaction
  <%= @firstaction %>
endscript
<% end -%>
<% if @lastaction != 'undef' -%>
 lastaction
  <%= @lastaction %>
endscript
<% end -%>
}